<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans     
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd    
       http://www.springframework.org/schema/context     
       http://www.springframework.org/schema/context/spring-context-3.2.xsd    
       http://www.springframework.org/schema/tx     
       http://www.springframework.org/schema/tx/spring-tx-3.2.xsd    
       http://www.springframework.org/schema/aop     
       http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<context:property-placeholder location="classpath:conf/commons.properties" />
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig"> 
		<property name="maxTotal" value="32"></property> 
		<property name="maxIdle" value="6"></property> 
		<property name="maxWaitMillis" value="300"></property> 
	</bean> 
	
	<bean id="redisClient" class="cn.lfy.common.cache.RedisClient" destroy-method="destroy"> 
		<!--config --> 
		<constructor-arg ref="jedisPoolConfig"></constructor-arg> 
		<!-- host --> 
		<constructor-arg value="127.0.0.1"></constructor-arg> 
		<!-- port --> 
		<constructor-arg value="6379"></constructor-arg> 
		<!-- timeout --> 
		<constructor-arg value="1000"></constructor-arg> 
	
	</bean> 

	<bean id="executor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="5" />
		<property name="maxPoolSize" value="200" />
	</bean>
	<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<!-- trigger配置在这里，也请同步配置到DB中去,DB配置优先 -->
			</list>
		</property>
		<!-- 并行的taskExecutor -->
		<property name="taskExecutor" ref="executor" />
		<property name="applicationContextSchedulerContextKey">
			<value>applicationContext</value>
		</property>
	</bean>
	<bean class="com.family.util.SmsUtil"/>
	<!-- 上传静态资源到CDN路径配置 start -->
	<bean id="resourceManager" class="cn.lfy.common.filehandler.ResourceManager">
		<constructor-arg name="resourceHandlers" ref="resourceHandlers"></constructor-arg>
	</bean>


	<util:map id="resourceHandlers" map-class="java.util.HashMap">
		<entry key="avatar_image" value-ref="avatar_image" />
		<entry key="appeal_image" value-ref="appeal_image" />
	</util:map>
	
	<bean id="avatar_image"
		class="cn.lfy.common.filehandler.ResourceHandlerImpl">
		<property name="baseDir" value="${fileserver.image.dir}"></property>
		<property name="childDir" value="avatar"></property>
		<property name="baseURL" value="${fileserver.image.url}"></property>
	</bean>
	<bean id="appeal_image"
		class="cn.lfy.common.filehandler.ResourceHandlerImpl">
		<property name="baseDir" value="${fileserver.image.dir}"></property>
		<property name="childDir" value="appeal_image"></property>
		<property name="baseURL" value="${fileserver.image.url}"></property>
	</bean>
</beans>